<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="public/assets/tab-logo.svg">
        <title>Article Lap</title>

        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

        <!-- google icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        
        <!-- general styling and theme -->
        <link rel="stylesheet" href="public\styling\general.css">
        <link rel="stylesheet" href="public\styling\theme.css">

        <!-- library styling -->
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="public\styling\library\header.css">
        <link rel="stylesheet" href="public\styling\library\footer.css">
        <link rel="stylesheet" href="public\styling\library\global-classes.css">
        <link rel="stylesheet" href="public\styling\library\scroll-bar.css">

        <!-- main style -->
        <link rel="stylesheet" href="public\styling\article-lap.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="logo">
                    <img src="public/assets/blog-logo.svg" alt="blog logo">
                    <h1><span>al-3adl</span> tech</h1>
                </div>
                <ul class="navbar-items">
                    <li class="navbar-item">
                        <a href="index.html" class="navbar-lin">home</a>
                    </li>
                    <li class="navbar-item">
                        <a href="blog-page.html" class="navbar-lin">blog</a>
                    </li>
                </ul>
                <div class="search-sign">
                    <form action="post" class="search">
                            <input type="text" id="search" name="search" placeholder="search">
                            <label for="search" type="submit">
                                <img src="public/assets/search-icon.svg" alt="search icon">
                            </label>
                    </form>
                    <a href="sign-in.html" class="sign-link">
                        <button class="sign">sign in</button>
                    </a>
                    <a class="user-home-page-link" href="personal-profile.html">
                        <!-- Handeled in the javascript -->
                        <!-- <img src="public/assets/avatar0.png" alt="user avatar"> -->
                    </a>
                </div>
            </nav>
            <form action="post" class="mobile-search">
                <input type="text" id="search-mobile" name="search" placeholder="search">
                <label for="search-mobile" type="submit">
                    <img src="public/assets/search-icon.svg" alt="search icon">
                </label>
            </form>
        </header>
        <main>
            <div class="main-container">
                <section>
                    <div class="position-relative m-4">
                        <div class="progress" role="progressbar" aria-label="Progress" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="height: 1px;">
                          <div class="progress-bar" style="width: 0%"></div>
                        </div>
                        <button type="button" class="step-1 position-absolute top-0 start-0 translate-middle btn btn-sm /*btn-primary*/ btn-secondary rounded-pill" style="width: 2rem; height:2rem;">1</button>
                        <button type="button" class="step-2 position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">2</button>
                      </div>
                </section>
                <section class="article-process w-100 d-flex flex-column gap-2  bg-body-tertiary p-4 position-relative">
                    <h2 class="text-left">Your article <span>content</span>:</h2>
                    <div class="article-content row min-vh-100 mb-5 " style="max-height: 100dvh;">
                        <textarea class="md-content col bg-black text-light p-2 overflow-y-auto" id="article-content" name="article-content" style="max-height: 100dvh;">Write your article content with Markdown language, or HTML</textarea>
                        <div class="preview col bg-white p-2 overflow-y-auto" style="max-height: 100dvh;">Here is the previow of your article</div>
                    </div>
                    <div class="article-header d-none">
                        <form action="" class="data">
                            <div class="mb-3">
                                <label for="article-cover" class="form-label">Upload your article cover:</label>
                                <input type="file" name="" class="form-control" id="article-cover">
                            </div>
                            <div class="mb-3">
                                <label for="article-title" class="form-label">Article title:</label>
                                <input type="text" name="article-title" class="form-control" id="article-title" placeholder="Enter your article title">
                            </div>
                            <div class="mb-3">
                                <label for="article-category" class="form-label">Article category:</label>
                                <select name="article-category" id="article-category" class="form-select">
                                    <option value="general">General</option>
                                    <option value="technology">Technology</option>
                                    <option value="os">OS</option>
                                    <option value="networking">Networking</option>
                                    <option value="architecture">Architecture</option>
                                    <option value="tech-industry">Tech-industry</option>
                                </select>
                            </div>
                            
                            <div class="error-container w-100 d-none">
                                <p class="error-message text-center text-danger">Error</p>
                            </div>
                        </form>
                        <div class="previow h-100 w-100 mb-5">
                            <div class="article-cover w-100 mb-3 bg-secondary position-relative mx-auto" style="width: 100% !important;">
                                <span class="badge text-bg-primary position-absolute" style="top: 10px; left: 10px;">General</span>
                                <!-- <img src="public/assets/home-intro-image.png" class="m-auto d-block" alt="article cover"> -->
                                <p class="text-center text-light position-absolute top-50 start-50 translate-middle">1216 x 600</p>
                            </div>
                            <h2 class="article-title text-center">Articler title</h2>
                        </div>
                    </div>
                    <div class="btns d-flex gap-2 position-absolute w-75" style="bottom: 10px; right: 50%; transform: translateX(50%); ">
                        <button class="previouse btn bg-primary text-light w-100 d-none">previouse</button>
                        <button class="next btn bg-primary text-light w-100">Next</button>
                    </div>
                </section>
            </div>
            <div class="temporary-error-message">
                Hi
            </div>
        </main>
        <footer>
            <div class="secondry-container">
                <div class="general-info">
                    <div class="about">
                        <div class="about-content">
                            <h2>about</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        </div>
                        <div class="contact-data">
                            <p><span>email : </span>ahmedmohamedal3adl@gmail.com</p>
                            <p><span>phone : </span>+201014413505</p>
                        </div>
                    </div>
    
                    <div class="links-and-catigories">
                        <div class="quick-links">
                            <h2>quick links</h2>
                            <ul>
                                <li><a href="#">home</a></li>
                                <li><a href="#">about</a></li>
                                <li><a href="#">blog</a></li>
                                <li><a href="#">archived</a></li>
                                <li><a href="#">author</a></li>
                                <li><a href="#">contact</a></li>
                            </ul>
                        </div>
                        <div class="catigory">
                            <h2>catigory</h2>
                            <ul>
                                <li><a href="#">general</a></li>
                                <li><a href="#">os</a></li>
                                <li><a href="#">compilers</a></li>
                                <li><a href="#">technology</a></li>
                                <li><a href="#">architecture</a></li>
                                <li><a href="#">tech-industry</a></li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="news-letter">
                        <div class="news-letter-intro">
                            <h2>weekly newsletter</h2>
                            <p>subscribe to our weekly newsletter</p>
                        </div>
                        <form action="post">
                            <fieldset>
                                <input type="email" id="subscribe" name="subscribe" placeholder="Your Email">
                                <label for="subscribe" hidden>Enter your email</label>
                                <label for="subscribe" class="email-icon">
                                    <img src="public/assets/email-icon.svg" alt="email icon: is a square with a reverse triangle on the top.">
                                </label>
                            </fieldset>
                            <button>subscribe</button>
                        </form>
                    </div>
                </div>
    
                <div class="references">
                    <h2>references</h2>
                   <ul>
                       <li>Photo by <a href="https://unsplash.com/@nasa?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">NASA</a> on <a href="https://unsplash.com/photos/photo-of-outer-space-Q1p7bh3SHj8?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></li>
                       <li>Template by <a href="https://www.figma.com/community/file/1216616090937021365">Shakil Khan and Zelal Hossain</a></li>
                       <li>Template is custmized by <a href="https://github.com/Ahmed101Mohammed">Ahmed Al-3adl</a></li>
                   </ul>
                </div>
    
                <div class="real-footer">
                    <div class="copywrite">
                        <img src="public/assets/blog-logo.svg" alt="blog logo">
                        <div class="copywrite-text">
                            <h2><span>al-3adl</span> tech</h2>
                            <p>&copy; 2024 all rights reserved</p>
                        </div>
                    </div>
                        <ul>
                            <li><a href="#">terms of use</a></li>
                            <div class="v-line"></div>
                            <li><a href="#">privacy policy</a></li>
                            <div class="v-line"></div>
                            <li><a href="#">cookie policy</a></li>
                        </ul>
                </div>
            </div>
        </footer>
        <script src="public/scripts/library/globalConstants.js"></script>
        <script src="public/scripts/library/requests.js"></script>
        <script src="public/scripts/library/setConstants.js"></script>
        <script src="public/scripts/library/header.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="public/scripts/library/setTemporaryMessage-helper.js"></script>
        <script src="public/scripts/articleLap.js" type="module"></script>
    </body>
</html>