<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>

        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
        
        <!-- general styling and theme -->
        <link rel="stylesheet" href="public\styling\general.css">
        <link rel="stylesheet" href="public\styling\theme.css">

        <!-- main style -->
        <link rel="stylesheet" href="public\styling\home.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="logo">
                    <img src="public/assets/blog-logo.svg" alt="blog logo">
                    <h1><span>al-3adl</span> tech</h1>
                </div>
                <ul class="navbar-items">
                    <li class="navbar-item">
                        <a href="#" class="navbar-lin">home</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#" class="navbar-lin">blog</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#" class="navbar-lin">single post</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#" class="navbar-lin">paeges</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#" class="navbar-lin">contact</a>
                    </li>
                </ul>
                <div class="search-mode">
                    <form action="post" class="search">
                            <input type="text" placeholder="search">
                            <button type="submit">
                                <img src="public/assets/search-icon.svg" alt="search icon">
                            </button>
                    </form>
                    <div class="mode">
                        <button class="mode-btn">
                            <img src="public/assets/light-mode-icon.svg" alt="light mode">
                        </button>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div class="main-container">
                <section class="intro">
                    <div class="intro-img">
                        <img src="public/assets/home-intro-image.png" alt="home introduction photo">
                    </div>
                    <div class="article-summary-card">
                        <div class="info">
                            <p class="catigory">Technology</p>
                            <h2 class="title">
                                The Impact of Technology on the Workplace: How Technology is Changing
                            </h2>
                        </div>
                        <div class="production-details">
                            <div class="author">
                                <img src="public/assets/avatar0.png" alt="author personal avatar" class="avatar">
                                <p class="name">Jason Francisco</p>
                            </div>
                            <p class="date">March 10, 2023</p>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </body>
</html>