<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="public/assets/tab-logo.svg">
        <title>Sign In</title>

        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <!-- general styling and theme -->
        <link rel="stylesheet" href="public\styling\general.css">
        <link rel="stylesheet" href="public\styling\theme.css">

        <!-- main style -->
        <link rel="stylesheet" href="public\styling\sign-in.css">
    </head>
    <body>
        <div class="security-img">
            <img src="public\assets\security-log.svg" 
            alt="security image: contain guy with purble clothes, and a phone, and bove him a lock that refere to security.">
        </div>
        <form action="http://localhost:3000/api/users/sign" method="POST" class="sign">
            <h2 class="welcome">
                Welcome to <span>Al-3adl Tech</span>
            </h2>
            <fieldset class="fast-sign">
                    <button class="login-method">
                        <span class="method-ui">
                            <img src="public/assets/google-logo.png" alt="google logo" class="logo">
                            <p class="name">Sign in with Google</p>
                        </span>
                    </button>
            </fieldset>
            <div class="separation">
                    <span>or</span>
            </div>
            <fieldset class="normal-log">
                    <div class="email input">
                        <img src="public/assets/email-log-icon.png" alt="email icon" class="email-icon">
                        <div class="input-field">
                            <label for="email" class="field-label">email</label>
                            <input type="email" id="email" name="email" placeholder="example@gmail.com">
                        </div>
                    </div>
                    <div class="password input">
                        <img src="public/assets/password-log-icon.png" alt="kay image" class="password-icon">
                        <div class="input-field">
                            <label for="password" class="field-label">password</label>
                            <input type="password" id="password" name="password" placeholder="************">
                        </div>
                    </div>
                    <fieldset class="final-action">
                        <button type="submit">sign in</button>
                        <span>Don't you have an account? <a href="sign-up.html">Sign up</a></span>
                    </fieldset>
                    <fieldset class="error">
                        <p class="error-message">
                            
                        </p>
                    </fieldset>
            </fieldset>
        </form>
        <script src="public/scripts/library/globalConstants.js"></script>
        <script src="public/scripts/library/requests.js"></script>
        <script src="public/scripts/sign-in.js"></script>
    </body>
</html>