/* footer */
footer {
  margin-top: 100px;
  background-color: #F6F6F7;
  border: 1px solid var(--secondary-color-100);
  padding-top: 64px;
  width: 100%;
}
footer .secondry-container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 1216px;
  margin: auto;
}
@media (max-width: 1216px) {
  footer .secondry-container {
    width: 100%;
    padding: 0px 30px;
    gap: 0px;
  }
}
footer .secondry-container .general-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 768px) {
  footer .secondry-container .general-info {
    justify-content: center;
  }
}
footer .secondry-container .general-info .about {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 330px;
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  footer .secondry-container .general-info .about {
    order: 1;
  }
}
footer .secondry-container .general-info .about .about-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer .secondry-container .general-info .about .about-content h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0px;
}
footer .secondry-container .general-info .about .about-content p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #696A75;
  margin: 0px;
}
footer .secondry-container .general-info .about .contact-data {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
footer .secondry-container .general-info .about .contact-data p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #3B3C4A;
  margin: 0px;
  width: max-content;
}
footer .secondry-container .general-info .about .contact-data p span {
  color: var(--secondary-color-800);
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
}
footer .secondry-container .general-info .links-and-catigories {
  display: flex;
  gap: 80px;
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  footer .secondry-container .general-info .links-and-catigories {
    order: 3;
  }
}
footer .secondry-container .general-info .links-and-catigories .quick-links, footer .secondry-container .general-info .links-and-catigories .catigory {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
footer .secondry-container .general-info .links-and-catigories .quick-links h2, footer .secondry-container .general-info .links-and-catigories .catigory h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0px;
  width: max-content;
}
footer .secondry-container .general-info .links-and-catigories .quick-links ul, footer .secondry-container .general-info .links-and-catigories .catigory ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
footer .secondry-container .general-info .links-and-catigories .quick-links ul li a, footer .secondry-container .general-info .links-and-catigories .catigory ul li a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #3B3C4A;
  text-transform: capitalize;
  width: max-content;
  display: block;
  text-decoration: none !important;
}
footer .secondry-container .general-info .news-letter {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 32px;
  border-radius: 12px;
  background-color: var(--white);
  align-items: center;
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  footer .secondry-container .general-info .news-letter {
    order: 2;
  }
}
footer .secondry-container .general-info .news-letter .news-letter-intro {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
  align-items: center;
}
footer .secondry-container .general-info .news-letter .news-letter-intro h2 {
  font-family: "work sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0px;
  width: max-content;
  color: var(--secondary-color-800);
}
footer .secondry-container .general-info .news-letter .news-letter-intro p {
  font-family: "work sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #696A75;
  margin: 0px;
  width: max-content;
}
footer .secondry-container .general-info .news-letter form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .secondry-container .general-info .news-letter form fieldset {
  border: none;
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #DCDDDF;
}
footer .secondry-container .general-info .news-letter form fieldset input {
  font-size: 16px;
  font-family: "work sans", sans-serif;
  font-weight: 400;
  color: #97989F;
  border: none;
  outline: none;
}
footer .secondry-container .general-info .news-letter form fieldset label.email-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.12px 1.25px;
}
footer .secondry-container .general-info .news-letter form button {
  padding: 12px 20px;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}
footer .secondry-container .references {
  display: flex;
  flex-direction: column;
  grid: 12px;
  border-top: 1px solid #DCDDDF;
  padding: 32px 0px;
}
footer .secondry-container .references h2 {
  margin: 0px;
  text-transform: capitalize;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
footer .secondry-container .references ul {
  list-style: none;
  margin: 0px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
footer .secondry-container .references ul li {
  font-family: "work sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #696A75;
}
footer .secondry-container .references ul li a {
  color: #414142;
  text-decoration: none !important;
}
footer .secondry-container .real-footer {
  padding: 32px 0px;
  display: flex;
  gap: 64px;
  align-items: center;
  border-top: 1px solid #DCDDDF;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .secondry-container .real-footer .copywrite {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
footer .secondry-container .real-footer .copywrite img {
  width: 48px;
  height: 48px;
}
footer .secondry-container .real-footer .copywrite .copywrite-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
footer .secondry-container .real-footer .copywrite .copywrite-text h2 {
  margin: 0px;
  text-transform: capitalize;
}
footer .secondry-container .real-footer .copywrite .copywrite-text h2 span {
  font-weight: 400;
}
footer .secondry-container .real-footer .copywrite .copywrite-text p {
  margin: 0px;
}
footer .secondry-container .real-footer ul {
  display: flex;
  gap: 10px;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  justify-content: flex-end;
}
footer .secondry-container .real-footer ul li a {
  text-decoration: none !important;
}
footer .secondry-container .real-footer ul .v-line {
  width: 1px;
  height: 24px;
  background-color: var(--secondary-color-100);
}

/*# sourceMappingURL=footer.css.map */
