:export {
  primary-color: #4B6BFB;
  secondary-color-400: #97989F;
  secondary-color-100: #E8E8EA;
  secondary-color-800: #181A2A;
  secondary-color-500: #181A2A;
  white: #FFFFFF;
  medium-tablet-width: 768px;
  large-mobile-width: 448px;
  bold-font: 600;
  normal-font: 400;
}

/* header */
header {
  width: 1218px;
  margin: auto;
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 20px;
  flex-wrap: nowrap;
}
@media (max-width: 1218px) {
  header {
    width: 100%;
    padding: 32px 20px;
  }
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  flex-wrap: nowrap;
}
header nav .logo {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 9px;
  flex-wrap: nowrap;
}
header nav .logo img {
  width: 36px;
  height: 36px;
}
header nav .logo h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: left;
  color: initial;
  margin: 0px;
}
@media (max-width: 448px) {
  header nav .logo h1 {
    display: none;
  }
}
@media (max-width: 1024px) {
  header nav .logo h1 {
    display: none;
  }
}
header nav .logo h1 span {
  font-weight: 500;
}
header nav ul {
  padding: 6px 116px;
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 40px;
  flex-wrap: nowrap;
  margin: 0px 21px 0px 118px;
  list-style: none;
}
@media (max-width: 448px) {
  header nav ul {
    margin: 0px 20px 0px 20px;
    padding: 6px 20px;
  }
}
@media (max-width: 1024px) {
  header nav ul {
    margin: 0px 20px 0px 20px;
    padding: 6px 20px;
  }
}
header nav ul li a {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: left;
  color: #181A2A;
  display: block;
  width: max-content;
  text-decoration: none !important;
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 2px;
  flex-wrap: nowrap;
}
header nav ul li a span.material-symbols-outlined {
  font-size: 30px;
  color: rgba(128, 128, 128, 0.5019607843);
  transition-duration: 0.6s;
  display: none;
}
header nav ul li a span.material-symbols-outlined:hover {
  color: black;
}
@media (max-width: 448px) {
  header nav ul li a span.material-symbols-outlined {
    display: block;
  }
}
@media (max-width: 448px) {
  header nav ul li a span.nav-text {
    display: none;
  }
}
header nav .search-sign {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 40px;
  flex-wrap: nowrap;
}
header nav .search-sign .search {
  background-color: #F4F4F5;
  padding: 8px 10px 8px 16px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
}
@media (max-width: 601px) {
  header nav .search-sign .search {
    display: none;
  }
}
header nav .search-sign .search input {
  border: none;
  outline: none;
  background-color: #F4F4F5;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
  text-align: left;
  color: initial;
  width: 114px;
}
header nav .search-sign .search label {
  border: none;
  outline: none;
  background-color: #F4F4F5;
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-wrap: nowrap;
}
header nav .search-sign .search label img {
  width: 16px;
  height: 16px;
}
header nav .search-sign .sign-link, header nav .search-sign .user-home-page-link {
  display: none;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}
header nav .search-sign .sign-link button.sign {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-transform: capitalize;
  text-align: left;
  color: #FFFFFF;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 5px;
  background-color: var(--primary-color);
}
header nav .search-sign .user-home-page-link img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
header form.mobile-search {
  width: 100%;
  display: none;
  align-items: center;
  gap: 0px;
}
@media (max-width: 601px) {
  header form.mobile-search {
    display: flex;
  }
}
header form.mobile-search input {
  width: 100%;
  border: none;
  outline: none;
  background-color: #F4F4F5;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  padding: 7px;
}
header form.mobile-search label {
  border: none;
  outline: none;
  background-color: #F4F4F5;
  min-height: 36px;
  width: auto;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-wrap: nowrap;
}
header form.mobile-search label img {
  width: auto;
  height: 30px;
}

/*# sourceMappingURL=header.css.map */
