@use 'mixins';
@use 'vars';

/* header */
header
{
    width: 1218px;
    margin: auto;
    padding: 32px 0px;
    @include mixins.flex-column(normal, normal, 20px, nowrap);

    @media (max-width: vars.$small-descktop-width) 
    {
        width: 100%;
        padding: 32px 20px;    
    }

    nav
    {
        @include mixins.flex-row(space-between, center, 0px, nowrap);

        .logo
        {
            @include mixins.flex-row(normal, center, 9px, nowrap);

            img
            {
                width: 36px;
                height: 36px;
            }

            h1
            {
                @include mixins.font("Work Sans", 24px, vars.$bold-font, capitalize, left, initial, sans-serif);
                margin: 0px;
                @media (max-width:vars.$large-mobile-width) 
                {
                    display: none;    
                }
                @media (max-width: 1024px) 
                {
                    display: none;
                }
                span
                {
                    font-weight: 500;
                }
            }
        }

        ul
        {
            padding: 6px 116px;
            @include mixins.flex-row(normal, center, 40px, nowrap);
            margin: 0px 21px 0px 118px;
            list-style: none;

            @media (max-width: vars.$large-mobile-width)
            {
                margin: 0px 20px 0px 20px;
                padding: 6px 20px;
            }
            @media (max-width: 1024px) 
            {
                margin: 0px 20px 0px 20px;
                padding: 6px 20px;
            }

            li a
            {
                @include mixins.font(inherit, 16px, vars.$normal-font, capitalize, left, vars.$secondary-color-500, inherit);
                display: block;
                width: max-content;
                text-decoration: none !important;
                @include mixins.flex-row(normal, center, 2px, nowrap);

                span.material-symbols-outlined
                {
                    
                    font-size: 30px;
                    color: #80808080;
                    transition-duration: 0.6s;
                    display: none;
                    &:hover
                    {
                        color: black;
                    }

                    @media (max-width: vars.$large-mobile-width) 
                    {
                        display: block;    
                    }
                }

                span.nav-text
                {
                    @media (max-width: vars.$large-mobile-width) 
                    {
                        display: none;    
                    }
                }
            }
        }

        .search-sign
        {
            @include mixins.flex-row(normal, center, 40px, nowrap);

            .search
            {
                background-color: #F4F4F5;
                padding: 8px 10px 8px 16px;
                border-radius: 5px;
                @include mixins.flex-row(normal, center, 12px, nowrap);

                @media (max-width: 601px)
                {
                    display: none;
                }

                input
                {
                    border: none;
                    outline: none;
                    background-color: #F4F4F5;
                    @include mixins.font("Inter", 14px, normal, none, left, initial, sans-serif);
                    width: 114px;
                }

                label
                {
                    border: none;
                    outline: none;
                    background-color: #F4F4F5;
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                    @include mixins.flex-row(center, center, 0px, nowrap);

                    img
                    {
                        width: 16px;
                        height: 16px;
                    }
                }
            }

            .sign-link, .user-home-page-link
            {
                display: none;
                object-fit: cover;
                align-items: center;
                justify-content: center;
            }

            .sign-link
            {
                button.sign
                {
                    @include mixins.font("Work Sans", 16px, normal, capitalize, left, vars.$white, sans-serif);
                    border: none;
                    border-radius: 6px;
                    cursor: pointer;
                    padding: 5px;
                    background-color: var(--primary-color);
                }
            }

            .user-home-page-link
            {
                img
                {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }

        }
    }

    form.mobile-search
    {
        width: 100%;
        display: none; // flex if present
        align-items: center;
        gap:0px;

        @media (max-width: 601px)
        {
            display: flex;
        }

        input
        {
            width: 100%;
            border: none;
            outline: none;
            background-color: #F4F4F5;
            font-size: 18px;
            font-family: "Inter", sans-serif;
            padding: 7px;
        }

        label
        {
            border: none;
            outline: none;
            background-color: #F4F4F5;
            min-height: 36px;
            width: auto;
            cursor: pointer;
            @include mixins.flex-row(center, center, 0px, nowrap);
            img
            {
                width: auto;
                height: 30px;
            }
        }
    }
}


