@use 'mixins';
@use 'vars';

/* posts section */
.posts
{
    @include mixins.flex-column(normal, normal, 32px, nowrap);
    width: 100%;
    padding: 0px 20px;

    .title
    {
        @include mixins.font(inherit, 24px, vars.$bolder-font, none, left, vars.$secondary-color-800, inherit);
        overflow: hidden;
    }

    .no-posts
    {
        @include mixins.flex-row(center, center, 12px, nowrap);
        @include mixins.font(inherit, 16px, vars.$medium-font, none, left, #696A75, inherit);
        display: none;
    }

    .posts-container
    {
        /* display: grid; */
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-content: center;
        display: none;
        @media (max-width: vars.$small-descktop-width) 
        {
            grid-template-columns: repeat(2, auto);    
        }
        @media (max-width: vars.$medium-tablet-width) 
        {
            grid-template-columns: auto;
        }

        .post-card
        {
            @include mixins.flex-column(space-between, normal, 16px, nowrap);
            border-radius: 12px;
            padding: 16px;
            background-color: vars.$white;
            border: 1px solid vars.$secondary-color-100;
            cursor: pointer;

            .post-cover img
            {
                width: 360px;
                border-radius: 7px;
                @media (min-width: vars.$medium-tablet-width) and ( max-width: 850px)
                {
                    width: 100%;
                }
                @media (max-width: vars.$large-mobile-width-x) 
                {
                    width: 100%;    
                }
            }

            .info
            {
                @include mixins.flex-column(normal, normal, 20px, nowrap);
                @media (max-width: vars.$medium-mobile-width) 
                {
                    gap: 8px;    
                }
                .main-info
                {
                    @include mixins.flex-column(normal, normal, 16px, nowrap);
                    .catigory
                    {
                        @include mixins.font("work sans", 14px, vars.$medium-font, none, left, vars.$primary-color, sans-serif);
                        background-color: #4b6bfb0c;
                        width: fit-content;
                        padding: 4px 10px;
                    }

                    .title
                    {
                        @include mixins.font(inherit, 16px, vars.$bold-font, none, left, vars.$secondary-color-500, inherit);
                        height: 57.5px;
                    }
                }

                .production-details
                {
                    @include mixins.flex-row(normal, center, 20px, nowrap);
                    @media (max-width: vars.$medium-mobile-width) 
                    {
                        gap: 6px;
                    }

                    .author
                    {
                        @include mixins.flex-row(normal, center, 12px, nowrap);
                        @media (max-width: vars.$medium-mobile-width) 
                        {
                            gap: 8px;    
                        }

                        img
                        {
                            @include mixins.size(36px, 36px);
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        .name
                        {
                            @include mixins.font(inherit, 16px, vars.$medium-font, none, left, vars.$secondary-color-400, inherit);
                            @media (max-width: vars.$medium-mobile-width) 
                            {
                                font-size: 13px;    
                            }
                        }
                    }

                    .date
                    {
                        @include mixins.font(inherit, 16px, vars.$normal-font, none, left, vars.$secondary-color-400, inherit);
                        @media (max-width: vars.$medium-mobile-width) 
                        {
                            font-size: 13px;    
                        }
                    }
                }
            }
        }
    }

    .all-posts 
    {
        display: none;
        justify-content: center;
        /* display: flex; */

        button
        {
            padding: 12px 20px;
            border-radius: 6px;
            border: 1px solid #696a754d;
            @include mixins.font(inherit, 16px, vars.$normal-font, none, center, #696A75, inherit);
            cursor: pointer;
            outline: none;
            background-color: vars.$white;
        }
    }
}