:export {
  primary-color: #4b6bfb;
  secondary-color-400: #97989f;
  secondary-color-100: #e8e8ea;
  secondary-color-800: #181a2a;
  secondary-color-500: #181a2a;
  white: #ffffff;
  small-descktop-width: 1280px;
  large-tablet-width: 1024px;
  medium-tablet-width: 768px;
  small-tablet-width: 601px;
  large-mobile-width: 448px;
  large-mobile-width-x: 414px;
  medium-mobile-width: 390px;
  small-mobile-width-xs: 375px;
  bolder-font: 800;
  bold-font: 600;
  medium-font: 500;
  normal-font: 400;
}

/* posts section */
.posts {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 32px;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0px 20px;
}
.posts .title {
  font-family: inherit;
  font-size: 24px;
  font-weight: 800;
  text-transform: none;
  text-align: left;
  color: #181a2a;
  overflow: hidden;
}
.posts .no-posts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  text-align: left;
  color: #696A75;
  display: none;
}
.posts .posts-container {
  /* display: grid; */
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  display: none;
}
@media (max-width: 1280px) {
  .posts .posts-container {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 768px) {
  .posts .posts-container {
    grid-template-columns: auto;
  }
}
.posts .posts-container .post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  gap: 16px;
  flex-wrap: nowrap;
  border-radius: 12px;
  padding: 16px;
  background-color: #ffffff;
  border: 1px solid #e8e8ea;
  cursor: pointer;
}
.posts .posts-container .post-card .post-cover img {
  width: 360px;
  border-radius: 7px;
}
@media (min-width: 768px) and (max-width: 850px) {
  .posts .posts-container .post-card .post-cover img {
    width: 100%;
  }
}
@media (max-width: 414px) {
  .posts .posts-container .post-card .post-cover img {
    width: 100%;
  }
}
.posts .posts-container .post-card .info {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 20px;
  flex-wrap: nowrap;
}
@media (max-width: 390px) {
  .posts .posts-container .post-card .info {
    gap: 8px;
  }
}
.posts .posts-container .post-card .info .main-info {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  gap: 16px;
  flex-wrap: nowrap;
}
.posts .posts-container .post-card .info .main-info .catigory {
  font-family: "work sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  text-align: left;
  color: #4b6bfb;
  background-color: rgba(75, 107, 251, 0.0470588235);
  width: fit-content;
  padding: 4px 10px;
}
.posts .posts-container .post-card .info .main-info .title {
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-transform: none;
  text-align: left;
  color: #181a2a;
  height: 57.5px;
}
.posts .posts-container .post-card .info .production-details {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
}
@media (max-width: 390px) {
  .posts .posts-container .post-card .info .production-details {
    gap: 6px;
  }
}
.posts .posts-container .post-card .info .production-details .author {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
}
@media (max-width: 390px) {
  .posts .posts-container .post-card .info .production-details .author {
    gap: 8px;
  }
}
.posts .posts-container .post-card .info .production-details .author img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
.posts .posts-container .post-card .info .production-details .author .name {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  text-align: left;
  color: #97989f;
}
@media (max-width: 390px) {
  .posts .posts-container .post-card .info .production-details .author .name {
    font-size: 13px;
  }
}
.posts .posts-container .post-card .info .production-details .date {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  text-align: left;
  color: #97989f;
}
@media (max-width: 390px) {
  .posts .posts-container .post-card .info .production-details .date {
    font-size: 13px;
  }
}
.posts .all-posts {
  display: none;
  justify-content: center;
  /* display: flex; */
}
.posts .all-posts button {
  padding: 12px 20px;
  border-radius: 6px;
  border: 1px solid rgba(105, 106, 117, 0.3019607843);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  color: #696A75;
  cursor: pointer;
  outline: none;
  background-color: #ffffff;
}

/*# sourceMappingURL=posts-section.css.map */
