/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4b6bfb3b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4b6bfbbf;
}