@use './library/mixins';
@use './library/vars';

/* main */
main
{
    width: 100%;
    padding-top: 28px;

    .main-container
    {
        width: 800px;
        margin: auto;
        @include mixins.flex-column(normal, center, 80px, nowrap);
        @media (max-width: 810px) 
        {
            width: 100%;
            gap: 40px;    
        }
        /* article */
        article
        {
            @include mixins.flex-column(normal, normal, 32px, nowrap);
            @media (max-width: vars.$large-tablet-width) 
            {
                padding: 0px 20px;    
            }
            /* article header */
            .article-header
            {
                @include mixins.flex-column(normal, normal, 20px, nowrap);
                .main-info
                {
                    @include mixins.flex-column(normal, normal, 16px, nowrap);
                    .category-primary
                    {
                        @media (max-width: vars.$small-tablet-width) 
                        {
                            font-size: 14px;
                            padding: 4px 8px;    
                        }
                        @media (max-width: vars.$large-mobile-width-x) 
                        {
                            font-size: 12px;
                            padding: 2px 5px;    
                        }
                    }
                    .title
                    {
                        @include mixins.font("work sans", 36px, vars.$bold-font, capitalize, left, vars.$secondary-color-800, sans-serif);
                        @media (max-width: vars.$small-tablet-width) 
                        {
                            font-size: 28px;    
                        }
                        @media (max-width: vars.$large-mobile-width-x) 
                        {
                            font-size: 22px;    
                        }
                    }
                }

                .production-details
                {
                    @include mixins.flex-row(normal, center, 24px, nowrap);
                    .author
                    {
                        @include mixins.flex-row(normal, center, 8px, nowrap);
                        img
                        {
                            @include mixins.size(40px, 40px);
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        .name
                        {
                            @include mixins.font("work sans", 14px, vars.$medium-font, capitalize, left, #696A75, sans-serif);
                            @media (max-width: vars.$small-mobile-width) 
                            {
                                font-size: 13px;    
                            }
                        }
                    }

                    .date
                    {
                        @include mixins.font("work sans", 14px, vars.$normal-font, capitalize, left, #696A75, sans-serif);
                        @media (max-width: vars.$small-mobile-width) 
                        {
                            font-size: 12px;    
                        }
                    }
                }
            }

            /* article cover */
            .article-cover img
            {
                width: 100%;
                object-fit: cover;
                border-radius: 12px;
            }

            /* article content */
            .article-body
            {
                h1, h2, h3, h4, h5, h6
                {
                    @include mixins.font("work sans", 24px, vars.$bold-font, capitalize, left, vars.$secondary-color-800, sans-serif);
                    margin-bottom: 12px;
                    @media (max-width: vars.$small-tablet-width) 
                    {
                        font-size: 22px;    
                    }
                    @media (max-width: vars.$large-mobile-width-x) 
                    {
                        font-size: 20px;   
                    }
                    @media (max-width: vars.$small-mobile-width-xs)
                    {
                        font-size: 18px;
                    }
                }


                p
                {
                    @include mixins.font("Source Serif Pro", 18px, vars.$normal-font, none, left, #3B3C4A, sans-serif);
                    line-height: 28px;
                    margin-bottom: 24px;
                    @media (max-width: vars.$small-tablet-width) 
                    {
                        font-size: 17px;    
                    }
                    @media (max-width: vars.$large-mobile-width-x) 
                    {
                        font-size: 16px;   
                    }
                    @media (max-width: vars.$small-mobile-width-xs)
                    {
                        font-size: 14px;
                    }
                }

                blockquote
                {
                    @include mixins.font("Source Serif Pro", 24px, vars.$normal-font, none, left, vars.$secondary-color-800, sans-serif);
                    padding-left: 32px;
                    font-style: italic;
                    border-left: 4px solid vars.$secondary-color-100;
                    margin-bottom: 24px;
                    @media (max-width: vars.$small-tablet-width) 
                    {
                        font-size: 22px;    
                    }
                    @media (max-width: vars.$large-mobile-width-x) 
                    {
                        font-size: 20px;   
                    }
                    @media (max-width: vars.$small-mobile-width-xs)
                    {
                        font-size: 18px;
                    }
                }

                img 
                {
                    margin: auto;
                    display: block;
                    margin-bottom: 12px;
                }
            }
        }
    }
}