@use './library/mixins';
@use './library/vars';

/* main container */
.main-container
{
    gap: 5px;
    .article-content
    {
        @media (max-width: vars.$small-tablet-width) 
        {
            display: block;
            max-height: 100dvh;
            min-height: 100dvh;    
        }
        // article textarea
        textarea
        {
            @media (max-width: vars.$small-tablet-width)
            {
                display: block;
                height: 50dvh;
                max-height: 50dvh;     
            }
        }
        /* article content preview */
        .preview
        {
            @media (max-width: vars.$small-tablet-width)
            {
                height: 50dvh;
                max-height: 50dvh;    
            }

            h1, h2, h3, h4, h5, h6
            {
                @include mixins.font("work sans", 24px, vars.$bold-font, capitalize, left, vars.$secondary-color-800, sans-serif);
                margin-bottom: 12px;
            }
    
            p
            {
                @include mixins.font("Source Serif Pro", 18px, vars.$normal-font, none, left, #3B3C4A, sans-serif);
                line-height: 28px;
                margin-bottom: 24px;
            }
            blockquote
            {
                @include mixins.font("Source Serif Pro", 24px, vars.$normal-font, none, left, #3B3C4A, sans-serif);
                padding-left: 32px;
                font-style: italic;
                margin-bottom: 24px;
            }

            img 
            {
                margin: auto;
                display: block;
                margin-bottom: 12px;
                max-width: 100%;
            }

            h1, h2, h3, h4, h5, h6, p, a, li, code, blockquote
            {
                @media (max-width: vars.$large-tablet-width)
                {
                    font-size: 16px;    
                }
                @media (max-width: vars.$large-mobile-width-x) 
                {
                    font-size: 13px;    
                }
            }
        }

    }
}