:export {
  primary-color: #4b6bfb;
  secondary-color-400: #97989f;
  secondary-color-100: #e8e8ea;
  secondary-color-800: #181a2a;
  secondary-color-500: #181a2a;
  white: #ffffff;
  small-descktop-width: 1280px;
  large-tablet-width: 1024px;
  medium-tablet-width: 768px;
  small-tablet-width: 601px;
  large-mobile-width: 448px;
  large-mobile-width-x: 414px;
  medium-mobile-width: 390px;
  small-mobile-width-xs: 375px;
  bolder-font: 800;
  bold-font: 600;
  medium-font: 500;
  normal-font: 400;
}

/* main container */
.main-container {
  gap: 5px;
}
.main-container .article-content {
  /* article content preview */
}
@media (max-width: 601px) {
  .main-container .article-content {
    display: block;
    max-height: 100dvh;
    min-height: 100dvh;
  }
}
@media (max-width: 601px) {
  .main-container .article-content textarea {
    display: block;
    height: 50dvh;
    max-height: 50dvh;
  }
}
@media (max-width: 601px) {
  .main-container .article-content .preview {
    height: 50dvh;
    max-height: 50dvh;
  }
}
.main-container .article-content .preview h1, .main-container .article-content .preview h2, .main-container .article-content .preview h3, .main-container .article-content .preview h4, .main-container .article-content .preview h5, .main-container .article-content .preview h6 {
  font-family: "work sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: left;
  color: #181a2a;
  margin-bottom: 12px;
}
.main-container .article-content .preview p {
  font-family: "Source Serif Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  text-align: left;
  color: #3B3C4A;
  line-height: 28px;
  margin-bottom: 24px;
}
.main-container .article-content .preview blockquote {
  font-family: "Source Serif Pro", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: none;
  text-align: left;
  color: #3B3C4A;
  padding-left: 32px;
  font-style: italic;
  margin-bottom: 24px;
}
.main-container .article-content .preview img {
  margin: auto;
  display: block;
  margin-bottom: 12px;
  max-width: 100%;
}
@media (max-width: 1024px) {
  .main-container .article-content .preview h1, .main-container .article-content .preview h2, .main-container .article-content .preview h3, .main-container .article-content .preview h4, .main-container .article-content .preview h5, .main-container .article-content .preview h6, .main-container .article-content .preview p, .main-container .article-content .preview a, .main-container .article-content .preview li, .main-container .article-content .preview code, .main-container .article-content .preview blockquote {
    font-size: 16px;
  }
}
@media (max-width: 414px) {
  .main-container .article-content .preview h1, .main-container .article-content .preview h2, .main-container .article-content .preview h3, .main-container .article-content .preview h4, .main-container .article-content .preview h5, .main-container .article-content .preview h6, .main-container .article-content .preview p, .main-container .article-content .preview a, .main-container .article-content .preview li, .main-container .article-content .preview code, .main-container .article-content .preview blockquote {
    font-size: 13px;
  }
}

/*# sourceMappingURL=article-lap.css.map */
