body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

/* main */
main
{
    width: 100%;
    padding-top: 28px;
}

.main-container
{
    width: 1216px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

/* links */
a
{
    text-decoration: none;
    color: inherit;
}

/* margin and padding zero */
p, h1, h2, h3, h4, h5, h6, ul, blockquote
{
    margin: 0px;
    padding: 0px;
}

/* classes library */
.category-primary
{
    background-color: var(--primary-color);
    color: var(--white);
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 10px;
    border-radius: 6px;
    width: fit-content;
}