/* main */
main
{
    display: grid;
    grid-template-columns: auto 1fr;
}

/* aside */
aside
{
    display: flex;
    justify-content: center;
    padding: 37.5px;
    height: 100%;
}

aside .secondery-nav-items
{
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
}

aside .secondery-nav-link
{
    display: flex;
    width: 220px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

aside .link-details
{
    display: flex;
    align-items: center;
    gap: 14px;
}

aside h2
{
    text-transform: capitalize;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #9197B3;
}

/* pages container */
.secondery-container
{
    display: flex;
    justify-content: center;
    padding: 24px;
    align-items: self-start;
}

.secondery-container .intro
{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 64px;
    background-color: var(--primary-color);
    border-radius: 10px;
    max-height: 190px;
    padding: 16px;
}

.secondery-container .intro h2
{
    text-transform: capitalize;
    font-family: "Outfit", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
}

.page-container
{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 24px;
}