@use './library/mixins';
@use './library/vars';

/* theme */
:root {
  --black: #2f2f2f;
  --primary: #6358dc;
}
/* general */
body,
html {
  @include mixins.size(100%, 100%);
  background-color: #e5e5e5;
}

body {
  @include mixins.flex-row(center, center, 238px, nowrap);
  padding: 20px;

  @media (max-width: vars.$small-descktop-width)
  {
    gap: 30px;
  }
  .security-img
  {
    @media (max-width: vars.$large-tablet-width) 
    {
      display: none;  
    }

    @media (max-width: vars.$small-descktop-width)
    {
      width: 50%;
    }

    img
    {
      width: 100%;
    }
  }
  /* log form */
  form.sign {
    @include mixins.flex-column(normal, normal, 24px, nowrap);
    background-color:vars.$white;
    border-radius: 8px;
    padding: 20px 30px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    width: 600px;
    @media (max-width: vars.$large-mobile-width-x) 
    {
      padding: 10px 15px;
      gap: 20px;  
    }

    h2.welcome {
      @include mixins.font("Poppins", 36px, vars.$medium-font, none, left, vars.$secondary-color-800, sans-serif);
      @media (max-width: vars.$large-mobile-width-x)
      {
        font-size: 20px;  
      }
      @media (max-width: vars.$small-tablet-width)
      {
        font-size: 25px;  
      }

      span {
        @include mixins.font(inherit, 46px, vars.$bolder-font, none, left, var(--primary), inherit);
        display: block;
        @media (max-width: vars.$large-mobile-width-x) 
        {
          font-size: 24px;  
        }

        @media (max-width: vars.$small-tablet-width)
        {
          font-size: 30px;  
        }
      }
    }

    fieldset.fast-sign {
      @include mixins.flex-column(normal, normal, 15px, nowrap);

      .login-method {
        padding: 7px 20px;
        background-color:vars.$white;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.11);

        .method-ui {
          @include mixins.flex-row(center, center, 20px, nowrap);

          img 
          {
            @media (max-width: vars.$large-mobile-width-x)
            {
              @include mixins.size(25px, 25px);
            }
          }
        }
      }
    }

    .separation {
      @include mixins.flex-row(center, center, 0px, nowrap);
      @include mixins.size(100%, 1px);
      background-color: #dcdddf;

      span {
        display: block;
        background-color:vars.$white;
        width: fit-content;
        padding: 0px 35px;
      }
    }

    .normal-log {
      @include mixins.flex-column(normal, normal, 15px, nowrap);
      .input {
        @include mixins.flex-row(normal, flex-end, 30px, nowrap);
        width: 100%;
        background-color: #ececec;
        border-radius: 8px;
        padding: 10px 23px;
        @media (max-width: vars.$large-mobile-width-x) 
        {
          gap: 10px;  
          padding: 10px 10px;
        }

        img {
          @media (max-width: vars.$large-mobile-width-x) 
          {
            width: 20px;
            margin-bottom: 2px;
          }
        }
        .input-field {
          @include mixins.flex-column(normal, flex-start, 4px, nowrap);
          width: 100%;

          .field-label {
            @include mixins.font("Poppins", 12px, vars.$normal-font, none, left, var(--black), sans-serif);
          }

          input {
            @include mixins.font("Poppins", 16px, vars.$bold-font, none, left, var(--black), sans-serif);
            background-color: transparent !important;
            width: 100%;
            padding-left: 5px;

            &:focus {
              background-color:vars.$white !important;
            }
          }
        }
      }

      .final-action {
        @include mixins.flex-column(normal, center, 15px, nowrap);

        button {
          @include mixins.font("Poppins", 16px, vars.$medium-font, none, center, vars.$white, sans-serif);
          padding: 15px;
          border-radius: 8px;
          background-color: var(--primary);
          width: 100%;
        }

        span {
          @include mixins.font("Poppins", 16px, vars.$normal-font, none, left, var(--black), sans-serif);
          color: black;
          @media (max-width: vars.$large-mobile-width-x)
          {
            font-size: 12px;  
          }

          @media (max-width: vars.$small-tablet-width)
          {
            font-size: 14px;  
          }
          a {
            color: var(--primary);
          }
        }
      }

      .error-message {
        @include mixins.font("Poppins", 12px, vars.$normal-font, none, center, red, sans-serif);
      }
    }
  }
}