:root
{
    --primary-color: #4B6BFB;
    --secondary-color-400: #97989F;
    --secondary-color-100: #E8E8EA;
    --secondary-color-800: #181A2A;
    --secondary-color-500: #181A2A;
    --white: #FFFFFF;
}