@use './library/mixins';
@use './library/vars';

/* article table */
.main-container
{
    @media (max-width: vars.$small-descktop-width) 
    {
        padding: 15px     
    }

    section.articles
    {
        @include mixins.flex-column(normal, normal, 2.1rem, nowrap);
        overflow: auto;

        table
        {
            border-spacing: 0px 10px;
            min-width: 650px;

            thead tr
            {
                cursor: default;
            }

            th,td
            {
                @include mixins.font("work sans", 13px, vars.$normal-font, capitalize, left, initial, sans-serif);
                padding: 1.1rem 0rem;
                @media (max-width: vars.$medium-tablet-width) 
                {
                    font-size: 12px;
                    padding: 0.2rem 5px;
                    text-align: center;    
                }
            }

            th
            {
                color: #878790;
            }

            td
            {
                border: 1px #E9EFF4 solid;
                border-left-width: 0px;
                border-right-width: 0px;
            }

            td.user-name
            {
                @include mixins.threeDotsTextOverflow(400px);
                border-left-width: 1px;
                padding-left: 1.1rem;
                @media (max-width: vars.$medium-tablet-width)
                {
                    @include mixins.threeDotsTextOverflow(300px);
                }
            }

            td.user-email
            {
                @include mixins.threeDotsTextOverflow(400px);
                @media (max-width: vars.$medium-tablet-width)
                {
                    @include mixins.threeDotsTextOverflow(300px);
                }
            }

            td.user-role
            {
                border-right-width: 1px;
                padding-right: 1.1rem;
            }

            td.user-articles-number
            {
                width: 250px;
            }
        }

        .load-more
        {
            @include mixins.font("work sans", 14px, vars.$medium-font, capitalize, center, #7879F1, sans-serif);
            display: none;
            width: 100%;
            background-color: transparent;
            border: none;
            cursor: pointer;
            padding: 10px 0px;
            border-top: 1px #E9EFF4 solid;
        }
    }
}