@use './library/mixins';
@use './library/vars';

/* article table */
.main-container
{
    @media (max-width: 1280px) 
    {
        padding: 15px     
    }

    section.articles
    {
        display: flex;
        flex-direction: column;
        gap: 2.1rem;
        overflow: auto;

        table
        {
            border-spacing: 0px 10px;
            min-width: 650px;

            thead tr
            {
                cursor: default;
            }

            th,td
            {
                text-align: left;
                padding: 1.1rem 0rem;
                text-transform: capitalize;
                font-weight: 400;
                font-size: 13px;
                font-family: "work sans", sans-serif;
                @media (max-width: 768px) 
                {
                    font-size: 12px;
                    padding: 0.2rem 5px;
                    text-align: center;    
                }
            }

            th
            {
                color: #878790;
            }

            td
            {
                border: 1px #E9EFF4 solid;
                border-left-width: 0px;
                border-right-width: 0px;
            }

            td.user-name
            {
                @include mixins.threeDotsTextOverflow(400px);
                border-left-width: 1px;
                padding-left: 1.1rem;
                @media (max-width: 768px)
                {
                    @include mixins.threeDotsTextOverflow(300px);
                }
            }

            td.user-email
            {
                @include mixins.threeDotsTextOverflow(400px);
                @media (max-width: 768px)
                {
                    @include mixins.threeDotsTextOverflow(300px);
                }
            }

            td.user-role
            {
                border-right-width: 1px;
                padding-right: 1.1rem;
            }

            td.user-articles-number
            {
                width: 250px;
            }
        }

        .load-more
        {
            display: none;
            width: 100%;
            background-color: transparent;
            border: none;
            color: #7879F1;
            font-weight: 500;
            font-size: 14px;
            font-family: "work sans", sans-serif;
            cursor: pointer;
            padding: 10px 0px;
            text-align: center;
            text-transform: capitalize;
            border-top: 1px #E9EFF4 solid;
        }
    }
}